*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
body{
    background: url(img/fon.png) no-repeat 50% 0 #e4e9f1;
    font-size:16px;
    font-family: "OpenSans";
    color: white;
}
.wrapper{
    width: 1215px;
    margin: 0 auto;}
header{
    height: 39;
}
.tel{
    font-size: 19px;
}
    header h1{
    margin: 25px
}    
nav{
    float: right;
    
}
nav li{
    float: right;
    margin: 15px 25px 0 20px;
    
    }
    nav li a{
        text-decoration: none;
        color: #ffffff;
    }
Ol{
    width: 950px;
    font-size:20px;
    margin: 0 0 0 0px;
}    
p{
    font-size: 40px;
    font-family: "OpenSans";
    text-align: center;
    padding: 20px;
}
aside {
    float: left;
    height: 200px;
    width: 270px;
    padding: 170px 0 0 150px;
  
}
section {
	margin-right: 30px;
    padding-top: 80px;
}
aside nav{
    background:   #d7dde8; height: 410px;
    width: 270px;
}

aside li{
    font-size: 21px;
    font-family: "OpenSans";
    color: black;
    padding-bottom: 40px;
}
.aside-menu li.active{
    font-size: 22px;
    color: black;
    font-family: "OpenSans";
    padding-bottom: 24px;
}

}
   input {
  height: 220px;
  background: #ffe347;
}

input[name="q"] {
  padding-right: 40px;
  background: #ffe347;
  border: none;
  height: 50px;
}

input[type="image"] {
  width: 1.2em;
  position: relative;
  left: -1.8em;
  vertical-align: middle;
  background: #ffe347;
  border: none;
}
