*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}
body{
    background: url(img/fon.png) no-repeat 50% 0 #e4e9f1;
    font-size:16px;
    font-family: "OpenSans";
    color: white;
}
.wrapper{
    width: 1215px;
    margin: 0 auto;}
header{
    height: 39;
}
.tel{
    font-size: 19px;
}
    header h1{
    margin: 25px
}    
nav{
    float: right;
    
}
nav li{
    float: right;
    margin: 15px 25px 0 20px;
    
    }
    nav li a{
        text-decoration: none;
        color: #ffffff;
    }
Ol{
    width: 950px;
    font-size:20px;
}    
p{
    font-size: 40px;
    font-family: "OpenSans";
    text-align: center;
    padding-top : 20px;
}
.layout{
    width: 1215px; margin: auto;
 position: relative;
}
section, aside,blockquote {
    position: absolute;
}
section {
    padding-top: 90px;
    width: 880px;
    color: black;
    float: left;

}
aside {
    padding-top: 180px;
    float: left;
    width: 260px;
}

aside nav{
    background:   #d7dde8; 
    height: 400px;
    width: 270px;
    border-radius: 3px 3px 3px 3px;
    
}

aside li{
    font-size: 21px;
    font-family: "OpenSans";
    color: black;
    padding-bottom: 40px;
}
.aside-menu li.active{
    font-size: 22px;
    color: black;
    font-family: "OpenSans";
    padding-bottom: 24px;
}
}
   input {
  height: 220px;
  background: #ffe347;
}
input[name="q"] {
  padding-right: 40px;
  background: #ffe347;
  border: none;
  height: 50px;
  font-family: "OpenSans"
}

input[type="image"] {
  width: 1.2em;
  position: relative;
  left: -1.8em;
  vertical-align: middle;
  background: #ffe347;
  border: none;
}
article{
    margin-left: 350px;
    float: left;
    height: 271px;
    width: 850px;
    background: #ffffff;
    border-radius: 7px 7px 7px 7px;
}
article h1{
    padding-left: 30px;
    float: left;
    color: black;
}
article h2{
    float: left;
    clear: right;
    font-family: "OpenSans";
    font-size: 20px;
    color: black;
    padding: 30px 0 0 30px; 
}
article p{
    float: left;
    clear: right;
    font-family: "OpenSans";
    font-size: 16px;
    color:black;
    text-align: left;
    padding: 20px 0 0 30px; 
}
.dal{
    float: left;
    clear: right;
    font-family: "OpenSans";
    font-size: 16px;
    color:#606060;  
    text-decoration: none; 
    padding: 30px 0 0 0px;
}
blockquote{
    width: 870px;
margin-top: 260px;
margin-left: 330px;
}
blockquote li {  
    margin-left: 20px;
    margin-top: 35px;
    float: left;
    height: 421px;
    width: 270px;
    background: #ffffff;
    border-radius: 7px 7px 7px 7px;
    padding: 20px 0 0 0;
}
blockquote h2{
    font-family: "OpenSans";
    font-size: 18px;
    padding: 24px 0 0 20px;
}
blockquote p{
    font-family: "OpenSans";
    font-size: 16px;
    text-align: left;
    padding: 35px 0 0 20px;
}
blockquote p a{
    font-family: "OpenSans";
    font-size: 16px;
    color:#606060;  
    text-decoration: none;
}
.ots {
    margin-top: 40px;
    margin-left: 15px;
    width: 850px;
    height: 170px;
    background: #d7dde8;
    border-radius: 17px 17px 17px 17px;
}
.ots img{
    padding: 20px 0 0 410px;
}
.ots  h2{
    font-family: "OpenSans";
    font-size: 24px;
    text-align: center;
}
.ots p{
    font-family: "OpenSans";
    text-align: center;
    margin-top: -34px;
    font-size: 14px;
}
.prio{
    margin-right: 60px;
    margin-top: 60px;
    width: 1150px;
    height: 335px;
    background: #ced8e9 ;
    border-radius:  17px 17px 17px 17px;
}
.tem{
    margin-top: 40px;
    width: 1150px;
    height: 323px;
    background: #bbc8dd;
    margin-right: -70px;
    border-radius: 17px 17px 17px 17px;
}
.col1{
    margin-right: 40px;
    margin-top: -30px;
    width: 1150px;
    height: 235px;
    background: linear-gradient( to top right, #e7bfff, #c3dcfe);
    border-radius: 17px 17px 0px 0px;
}
.col2{
    margin-right: 40px;
    width: 1150px;
    height: 110px;
    background: linear-gradient( to right, #cda3ed, #a9bded);
    border-radius: 0px 0px 17px 17px;
}
.col2 img{
    margin-top: -185px;
    margin-left: 30px;
}
.col1 h6{
    font-family: "OpenSans";
    font-size: 32px;
    margin-left: 370px;
    margin-top: 50px;
    margin-right: 200px;
    text-transform: uppercase;
}
.col1 p{
    color: #6a7388;
    margin-right: 310px;
    margin-left: 355px;
    font-family: "OpenSans";
    font-size: 20px;
}
.col2 p{
    margin-top: -40px;
    text-align: right;
    font-family: "OpenSans";
    font-size: 16px;
    margin-left: 600px;
}
.knop{ 
    height: 55px;
    width: 300px;
}
.col2 a{
    float: right;
    margin-right: 20px;
    margin-left: 20px;
    border: none;
    outline: none;
    background: #f9f8f8;
}
.oper{
    margin-top: 120px;
    float: left;
    margin-left: -350px;
    width: 350px;
}
.oper h2{
    font-family: "OpenSans";
    font-size: 20px;
    font-weight: normal;
}
.oper p{
    font-family: "OpenSans";
    font-size: 18px;
}
.oper input { 
    height: 50px;
    background: #ced8e9;
}
input[name="r"] {
  padding-right: 40px;
  background: #ced8e9;
  border: none;
  height: 50px;
  width: 300px;
  font-family: "OpenSans";
  width: 
}
input[type="imag"] {
  width: 50px;
  height: 50px;;
  position: relative;
  left: -1.8em;
  vertical-align: middle;
  background: #ced8e9;
  border: none;
  background: transparent url(C:\Users\maksi\OneDrive\Документы\Новости\img\otpr.png) no-repeat center top
}
.not{
    float: left;
    margin-top: 200px;
    margin-left: 60px;
}